Data preprocessing and feature engineering are vital in data mining as they enhance the quality and performance of data mining models. Data preprocessing ensures that raw data is clean, consistent, and ready for analysis, while feature engineering improves the modelâ€™s ability to capture patterns and make accurate predictions.



To carry out this activity, follow the instructions below:

1. Review the company **business case** . Review the **problem statement** and download the required datasets.
    
    [here](https://sites.google.com/mmdc.mcl.edu.ph/finmarkcorp/data-mining)
    
2. Load the datasets to Jupyter Notebook and **perform the necessary data processing using Python.**
3. Once done, **engineer new features to help the model arrive at better solutions to the outline problem statement.**
4. Save your output and prepare for a discussion with your team.

# Step 1: Importing Libraries and Loading Data

In [7]:
# Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
from google.colab import drive
drive.mount('/content/drive')


# loading datasets
customer_feedback_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/finmark_data_mining/Customer_Feedback_Data.csv")
product_offering_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/finmark_data_mining/Product_Offering_Data.csv")
transaction_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/finmark_data_mining/Transaction_Data.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Display First Few Rows

In [ ]:
print(customer_feedback_df.head())

   Customer_ID  Satisfaction_Score  Feedback_Comments  Likelihood_to_Recommend
0            1                10.0     Very satisfied                        9
1            2                 3.0     Very satisfied                        3
2            3                10.0     Very satisfied                        1
3            4                 7.0  Needs improvement                        4
4            5                 8.0     Unsatisfactory                        7

In [ ]:
print(product_offering_df.head())

   Product_ID                   Product_Name     Product_Type Risk_Level  \
0           1           Platinum Credit Card      Credit Card     Medium
1           2           Gold Savings Account  Savings Account        Low
2           3  High-Yield Investment Account       Investment       High
3           4                  Mortgage Loan             Loan     Medium
4           5                      Auto Loan             Loan     Medium

   Target_Age_Group Target_Income_Group
0               NaN              Medium
1               NaN                 Low
2               NaN                High
3               NaN                High
4               NaN              Medium

In [ ]:
print(transaction_df.head())

   Transaction_ID  Customer_ID     Transaction_Date  Transaction_Amount  \
0               1          393  2023-01-01 00:00:00              3472.0
1               2          826  2023-01-01 01:00:00                 NaN
2               3          916  2023-01-01 02:00:00                10.0
3               4          109  2023-01-01 03:00:00                72.0
4               5          889  2023-01-01 04:00:00              1793.0

  Transaction_Type
0         Purchase
1     Bill Payment
2         Purchase
3       Investment
4       Investment

**Check data size with df.shape**

In [ ]:
print(customer_feedback_df.shape)

(5050, 4)

In [ ]:
print(product_offering_df.shape)

(15, 6)

In [ ]:
print(transaction_df.shape)

(5050, 5)

**Examine column names with df.columns**

In [ ]:
print(customer_feedback_df.columns)

Index(['Customer_ID', 'Satisfaction_Score', 'Feedback_Comments',
       'Likelihood_to_Recommend'],
      dtype='object')

In [ ]:
print(product_offering_df.columns)

Index(['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level',
       'Target_Age_Group', 'Target_Income_Group'],
      dtype='object')

In [ ]:
print(transaction_df.columns)

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date',
       'Transaction_Amount', 'Transaction_Type'],
      dtype='object')

**Display data types with df.dtypes**

In [ ]:
print(customer_feedback_df.dtypes)

Customer_ID                  int64
Satisfaction_Score         float64
Feedback_Comments           object
Likelihood_to_Recommend      int64
dtype: object

In [ ]:
print(product_offering_df.dtypes)

Product_ID               int64
Product_Name            object
Product_Type            object
Risk_Level              object
Target_Age_Group       float64
Target_Income_Group     object
dtype: object

In [ ]:
print(transaction_df.dtypes)

Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Amount    float64
Transaction_Type       object
dtype: object

# Step 2: Initial Data Exploration

Detailed Overview of Datasets

In [ ]:
# Check Basic Info
customer_feedback_df.info()
product_offering_df.info()
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              5050 non-null   int64
 1   Satisfaction_Score       4949 non-null   float64
 2   Feedback_Comments        5050 non-null   object
 3   Likelihood_to_Recommend  5050 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 157.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_ID           15 non-null     int64
 1   Product_Name         15 non-null     object
 2   Product_Type         15 non-null     object
 3   Risk_Level           15 non-null     object
 4   Target_Age_Group     0 non-null      float64
 5   Target_Income_Group  15 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 852.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5050 non-null   int64
 1   Customer_ID         5050 non-null   int64
 2   Transaction_Date    5050 non-null   object
 3   Transaction_Amount  4950 non-null   float64
 4   Transaction_Type    5050 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 197.4+ KB

In [ ]:
# Summary statistics
print(customer_feedback_df.describe())
print(product_offering_df.describe())
print(transaction_df.describe())

       Customer_ID  Satisfaction_Score  Likelihood_to_Recommend
count  5050.000000         4949.000000              5050.000000
mean    501.949703            5.684785                 5.571287
std     288.806331            3.606511                 2.872577
min       1.000000            1.000000                 1.000000
25%     253.000000            3.000000                 3.000000
50%     502.000000            6.000000                 6.000000
75%     751.750000            8.000000                 8.000000
max    1000.000000           60.000000                10.000000
       Product_ID  Target_Age_Group
count   15.000000               0.0
mean     5.133333               NaN
std      3.159265               NaN
min      1.000000               NaN
25%      2.500000               NaN
50%      5.000000               NaN
75%      7.500000               NaN
max     10.000000               NaN
       Transaction_ID  Customer_ID  Transaction_Amount
count     5050.000000  5050.000000         4950.000000
mean      2498.927129   504.692871         3094.726465
std       1443.059092   291.593793        14818.501011
min          1.000000     1.000000           10.000000
25%       1250.250000   251.250000         1239.000000
50%       2500.500000   509.000000         2483.000000
75%       3745.750000   764.000000         3706.000000
max       5000.000000  1000.000000       480300.000000

In [ ]:
#  Check for unique values
print(customer_feedback_df.nunique())
print(product_offering_df.nunique())
print(transaction_df.nunique())

Customer_ID                1000
Satisfaction_Score           17
Feedback_Comments             5
Likelihood_to_Recommend      10
dtype: int64
Product_ID             10
Product_Name           10
Product_Type            4
Risk_Level              3
Target_Age_Group        0
Target_Income_Group     3
dtype: int64
Transaction_ID        5000
Customer_ID            993
Transaction_Date      5000
Transaction_Amount    3183
Transaction_Type         4
dtype: int64

# Step 3: Handling Duplicates and Outliers

**Handling Duplicates**

In [ ]:
# Check for duplicates
print("Duplicates in feedback:", customer_feedback_df.duplicated().sum())
print("Duplicates in products:", product_offering_df.duplicated().sum())
print("Duplicates in transactions:", transaction_df.duplicated().sum())

Duplicates in feedback: 81
Duplicates in products: 5
Duplicates in transactions: 50

Handling Duplicate Rows in customer_feedback_df

In [ ]:
print(customer_feedback_df[customer_feedback_df.duplicated()])
print(customer_feedback_df.duplicated(subset=['Customer_ID']).sum())

      Customer_ID  Satisfaction_Score Feedback_Comments  \
1127          972                 3.0      Good service
1541          380                 2.0    Unsatisfactory
1619          309                 6.0    Unsatisfactory
1796          726                 3.0    Very satisfied
1950          890                 3.0    Unsatisfactory
...           ...                 ...               ...
5045          757                 9.0      Good service
5046          969                 2.0    Unsatisfactory
5047          248                 4.0      Good service
5048           58                 4.0    Unsatisfactory
5049          635                 4.0    Very satisfied

      Likelihood_to_Recommend
1127                        1
1541                        9
1619                        1
1796                        7
1950                        5
...                       ...
5045                        3
5046                        2
5047                        3
5048                       10
5049                        6

[81 rows x 4 columns]
4050

In [ ]:
customer_feedback_df.drop_duplicates(subset=['Customer_ID'], keep='first', inplace=True)
print("Remaining duplicate rows:", customer_feedback_df.duplicated().sum())

Remaining duplicate rows: 0

Handling Duplicate Rows in product_offering_df

In [ ]:
print(product_offering_df[product_offering_df.duplicated()])
print(product_offering_df.duplicated(subset=['Product_ID']).sum())

    Product_ID                   Product_Name     Product_Type Risk_Level  \
10           2           Gold Savings Account  Savings Account        Low
11          10             Travel Credit Card      Credit Card     Medium
12           3  High-Yield Investment Account       Investment       High
13           6                  Personal Loan             Loan     Medium
14           1           Platinum Credit Card      Credit Card     Medium

    Target_Age_Group Target_Income_Group
10               NaN                 Low
11               NaN              Medium
12               NaN                High
13               NaN                 Low
14               NaN              Medium
5

In [ ]:
product_offering_df.sort_values(by=['Product_ID'], ascending=True, inplace=True)
product_offering_df.drop_duplicates(
    subset=['Product_ID', 'Product_Name', 'Product_Type', 'Risk_Level', 'Target_Age_Group'],
    keep='first',
    inplace=True
)

In [ ]:
print("Remaining duplicate rows:", product_offering_df.duplicated().sum())

Remaining duplicate rows: 0

Handling Duplicate Rows in transaction_df

In [ ]:
print(transaction_df[transaction_df.duplicated()])
print(transaction_df.duplicated(subset=['Transaction_ID']).sum())

      Transaction_ID  Customer_ID     Transaction_Date  Transaction_Amount  \
5000            4065           89  2023-06-19 08:00:00              1218.0
5001            4971          463  2023-07-27 02:00:00              3123.0
5002            2591          387  2023-04-18 22:00:00              1239.0
5003            2864           43  2023-04-30 07:00:00               857.0
5004             156          474  2023-01-07 11:00:00              1164.0
5005            3023          771  2023-05-06 22:00:00              3614.0
5006            2617          356  2023-04-20 00:00:00              3896.0
5007            2171          189  2023-04-01 10:00:00              3041.0
5008            4558          992  2023-07-09 21:00:00               532.0
5009            3327          750  2023-05-19 14:00:00              1648.0
5010             198          592  2023-01-09 05:00:00               651.0
5011             821           99  2023-02-04 04:00:00              3801.0
5012            3311          717  2023-05-18 22:00:00              4520.0
5013            3273          910  2023-05-17 08:00:00              2261.0
5014            3459          632  2023-05-25 02:00:00               855.0
5015             585          828  2023-01-25 08:00:00              3332.0
5016            1873          702  2023-03-20 00:00:00              3008.0
5017             937          356  2023-02-09 00:00:00               831.0
5018            2005          243  2023-03-25 12:00:00              2876.0
5019              57          142  2023-01-03 08:00:00              3791.0
5020            1454           99  2023-03-02 13:00:00              2968.0
5021             145          456  2023-01-07 00:00:00              4527.0
5022            1525          186  2023-03-05 12:00:00              3738.0
5023             205          560  2023-01-09 12:00:00              3490.0
5024            2726          509  2023-04-24 13:00:00              3371.0
5025            4310          776  2023-06-29 13:00:00              2243.0
5026            3706           14  2023-06-04 09:00:00              3015.0
5027            3329          331  2023-05-19 16:00:00              1135.0
5028            3870           66  2023-06-11 05:00:00              3776.0
5029            1356          507  2023-02-26 11:00:00               995.0
5030            2792          310  2023-04-27 07:00:00              1552.0
5031            4361          607  2023-07-01 16:00:00              3400.0
5032            1431          167  2023-03-01 14:00:00              1100.0
5033            4742          757  2023-07-17 13:00:00               386.0
5034            3472          639  2023-05-25 15:00:00               774.0
5035            1051           33  2023-02-13 18:00:00              1190.0
5036            2329          534  2023-04-08 00:00:00              3478.0
5037            1373          606  2023-02-27 04:00:00              3032.0
5038            1396          506  2023-02-28 03:00:00              1367.0
5039            3562          713  2023-05-29 09:00:00               599.0
5040            3011          242  2023-05-06 10:00:00              4959.0
5041            2766          757  2023-04-26 05:00:00               653.0
5042            2467          120  2023-04-13 18:00:00              2721.0
5043            4436          771  2023-07-04 19:00:00              1904.0
5044             159          489  2023-01-07 14:00:00              3726.0
5045            3034          317  2023-05-07 09:00:00              3018.0
5046             583          336  2023-01-25 06:00:00              2670.0
5047            1211          550  2023-02-20 10:00:00              3252.0
5048            2259          258  2023-04-05 02:00:00              3442.0
5049            1159          271  2023-02-18 06:00:00               108.0

     Transaction_Type
5000         Purchase
5001     Loan Payment
5002       Investment
5003     Loan Payment
5004     Loan Payment
5005       Investment
5006       Investment
5007     Loan Payment
5008     Bill Payment
5009       Investment
5010     Loan Payment
5011         Purchase
5012         Purchase
5013     Bill Payment
5014         Purchase
5015     Loan Payment
5016     Loan Payment
5017       Investment
5018       Investment
5019         Purchase
5020     Bill Payment
5021     Loan Payment
5022         Purchase
5023     Loan Payment
5024       Investment
5025       Investment
5026     Bill Payment
5027         Purchase
5028         Purchase
5029       Investment
5030     Bill Payment
5031     Loan Payment
5032       Investment
5033       Investment
5034     Loan Payment
5035       Investment
5036     Bill Payment
5037     Loan Payment
5038     Bill Payment
5039         Purchase
5040     Loan Payment
5041       Investment
5042     Loan Payment
5043     Bill Payment
5044         Purchase
5045         Purchase
5046     Bill Payment
5047     Bill Payment
5048         Purchase
5049     Loan Payment
50

In [2]:
transaction_df.drop_duplicates(subset=['Transaction_ID'], keep='first', inplace=True)

In [3]:
print("Remaining duplicate rows:", transaction_df.duplicated().sum())

Remaining duplicate rows: 0

**Handling Outliers**

In [6]:
# Store datasets in a Dictionary
datasets = {
    'Feedback': customer_feedback_df,
    'Product_Offering': product_offering_df,
    'Transaction': transaction_df
}

In [5]:
def count_outliers_iqr(df):
    outlier_summary = {}
    for col in df.select_dtypes(include=np.number).columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Count outliers
        num_outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)].shape[0]
        outlier_summary[col] = num_outliers
    return outlier_summary

for dataset_name, df in datasets.items():
    outlier_counts = count_outliers_iqr(df)
    print(f"\nOutliers in {dataset_name} dataset:")
    for col, count in outlier_counts.items():
        print(f"  Column '{col}': {count} outliers")

Outliers in Feedback dataset:
  Column 'Customer_ID': 0 outliers
  Column 'Satisfaction_Score': 10 outliers
  Column 'Likelihood_to_Recommend': 0 outliers

Outliers in Product_Offering dataset:
  Column 'Product_ID': 0 outliers
  Column 'Target_Age_Group': 0 outliers

Outliers in Transaction dataset:
  Column 'Transaction_ID': 0 outliers
  Column 'Customer_ID': 0 outliers
  Column 'Transaction_Amount': 10 outliers